/* =============================scroll================================== */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(115, 247, 192);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(115, 247, 192);
}
/* ============================content========================== */

@font-face {
  font-family: "myfont";
  src: url(../public/assets/font/ElMessiri-Bold.ttf);
}
@font-face {
  font-family: "myfont1";
  src: url(../public/assets/font/Vazirmatn-VariableFont_wght.ttf);
}


.font_one {
  font-family: "myfont";
}

.font_two {
  font-family: "myfont1";
}

.font_three {
  font-family: "myfont1";
}